/* App.css */
  
  /* Style for the footer */
  .footer {
    position: relative; /* Ensure footer stays at the bottom */
    margin-bottom: 20px; /* Add margin to the bottom */
    padding: 20px; /* Add padding to the footer */
    background-color: #ECE8CD;
    text-align: right; /* Center-align text */
  }
  
  .footer_logo {
    position: absolute; /* Position the logo within the footer */
    bottom: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    margin-top: 10px; /* Add margin to prevent overlap */
  }
  
  .footer_logo img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .footer__line {
    border: 1px solid #ccc; /* Border style */
    margin: 20px 0; /* Adjust margin as needed */
  }
  
  .footer__text {
    margin: 10px 0; /* Adjust margin as needed */
    font-size: 14px; /* Adjust font size */
  }
  
  